/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Space+Mono&display=swap');
/*Typography
--------------------------------------------------------------*/
body {
  margin-bottom: 61px;
  color: #404040;
  font-family: "Monsterrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

button,
input,
select,
textarea {
  color: #404040;
  font-family: "Monsterrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Monsterrat", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}
